@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --color-blue-400: #74c7ec;
    --color-red-400: #f38ba8;
    --color-green-400: #a6e3a1;
    --color-yellow-400: #f9e2af;
    --color-purple-400: #cba6f7;
}

:root {
    --ui-bg: #1e1e2e;
    --ui-text: #cdd6f4;
    --ui-border: #6c7086
}

@layer base {

    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-2xl;
    }
}